:root{
    --main-color: #DAD7CD;
    --font-brown: #588157;
    --section-backrounds: #A3B18A;
}

*{
    border: red 1px solid;

}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

main{
    flex: 1;
    height: 40%;;
    display: flex;
    flex-direction: row;
}

.left{
    width: 50%;
    padding: 2em;
}
.right{
    width: 50%;
}

.name{
    text-align: center;
    font-size: 2em;
    
    color: var(--font-brown);
    margin-top: 20px;
}

.default {
    text-align: center;
    font-size: 1.5em;
    color: #000;
    margin-top: 20px;
}

footer{

}